<!-- post list -->
{{ range $index, $element := $.Paginator.Pages }}
<div class="post-preview">
    <a href="{{ .Permalink }}">
        <h2 class="post-title"> <!-- altera a cor do titulo do post a partir da homepage -->
            {{ .Title }}
        </h2>
	{{with .Params.subtitle }}
        <h3 class="post-subtitle"> <!-- altera a cor do subtitulo do post a partir da homepage -->
            {{ . }}
        </h3>
	{{ end }}
        <div class="post-content-preview"> <!-- altera a cor da descrisao do post a partir da homepage -->
	{{ with .Description }} <!-- se tiver uma descricao -->
            {{ . }} <!-- mostre ela -->
        {{ else }} <!-- senao -->
            {{ .Summary}} <!-- mostre o inicio do texto daquele post -->
       {{ end }}
        </div>
    </a>
    <p class="post-meta">
    {{ if .Params.author }}
        Por 
        {{ .Params.author }}
        em 
        {{ .Date.Format "02/01/2006" }}
            {{ if .Site.Params.page_view_conter }}
                {{ partial "page_view_counter.html" . }} <!-- controla a parte do page viewer -->
            {{ end }}
    {{ else }}
        {{ .Date.Format "02/01/2006" }}
    {{ end }} 
    <!-- Don't show "Last Modified on" if update happened on the same day. -->
    {{ if (and (not .Lastmod.IsZero) (not (eq (dateFormat "02/01/2006" .Lastmod) (dateFormat "02/01/2006" .Date)))) }}
    <br>Última modificação em {{ dateFormat "02/01/2006" .Params.LastMod }}
    {{ end }}
    </p>

</div>
<hr>
{{ end }}
